

articolo { 
    display:block; 
    font-weight:bolder; 
    text-align:center; 
    font-size:30px; 
    background-color: lightgray; 
    color: black; 
}

titolo{
    size: 120%;
    color: blueviolet
} 

