

articolo { 
    display:block; 
    font-weight:bolder; 
    text-align:center; 
    font-size:30px; 
    background-color: green; 
    color: white; 
}

name, author, year, price { 
    display:block; 
    text-align:center; 
} 

name { 
color:green;  
text-decoration: underline  ; 
font-weight:bolder; 
font-size:20px; 
} 

author { 
color:green
}

year { 
color:brown 
}

price { 
color:blue
}